{% extends "mail/layout.html" %}
{% load static %}
{% load django_vite %}


{% block body %}
    <div class="mx-auto">
        <nav class="navbar fixed-top text-bg-primary align-items-center px-4 py-3">
            <h6 class="cursor-default my-0 ms-0 me-auto">{{ request.user.email }}</h6>

            <div class="nav-option mx-auto overflow-y-hidden">
                <button class="btn btn-sm btn-outline-light me-2" id="inbox">Inbox</button>
                <button class="btn btn-sm btn-outline-light me-2" id="compose">Compose</button>
                <button class="btn btn-sm btn-outline-light me-2" id="sent">Sent</button>
                <button class="btn btn-sm btn-outline-light" id="archive">Archived</button>
            </div>

            <a class="btn btn-sm btn-outline-light ms-auto me-0" href="{% url 'logout' %}">Log Out</a>
        </nav>

        <div id="emails-view" class="pt-5 mt-5">
            <div id="mailboxTitle"></div>

            <div id="mailboxContent">
                <div id="emptyBoxContent" class="d-none fs-1 fw-bold text-secondary m-auto p-5">
                    No e-mails here...
                </div>

                <div id="listBoxContent" class="container"></div>
            </div>
        </div>

        <div id="compose-view" class="pt-5 mt-5">
            <h3>New Email</h3>

            <form id="compose-form" onsubmit="send_mail(event)">
                <div class="form-group">
                    From: <input name="origin" disabled class="form-control" value="{{ request.user.email }}">
                </div>

                <div class="form-group">
                    To: <input name="recipients" id="compose-recipients" class="form-control" required>
                </div>

                <div class="form-group">
                    <input name="subject" class="form-control" id="compose-subject" placeholder="Subject">
                </div>

                <textarea name="body" class="form-control" id="compose-body" placeholder="Body"></textarea>

                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>

    <div id="ajaxEmailModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mail-subject">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <div class="modal-body">
                    <p>From: <span class="mail-sender"></span>, to: <span class="mail-recipients"></span>.</p>
                    <span class="mail-timestamp"></span>
                    <hr>

                    <p class="mail-body"></p>
                </div>
        
                <div class="modal-footer d-flex justify-content-end">
                    <button 
                        type="button" 
                        class="mail-reply btn btn-primary me-3"
                        data-mail-id=""
                        onclick="mailReplyRequestHandler(event, this.dataset.mailId)"
                    >
                        Reply
                    </button>

                    <button 
                        type="button" 
                        class="mail-archived btn btn-outline-primary"
                        data-mail-archived=""
                        data-mail-id=""
                        onclick="mailArchiveRequestHandler(event, this.dataset.mailId, this.dataset.mailArchived)"
                    >
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% vite_asset_url 'js/inbox.js' %}"></script>
{% endblock %}