{% extends "mail/layout.html" %}
{% load static %}
{% load django_vite %}


{% block body %}
    <div class="mx-auto">
        <nav class="navbar fixed-top text-bg-primary align-items-center px-4 pt-3 pb-1">
            <h6 class="cursor-default my-0 ms-0 me-auto">{{ request.user.email }}</h6>

            <div class="nav-option overflow-y-hidden col-12 order-3 mx-auto mt-2 ">
                <button class="btn btn-sm btn-outline-light me-2" id="inbox">Inbox</button>
                <button class="btn btn-sm btn-outline-light me-2" id="compose">Compose</button>
                <button class="btn btn-sm btn-outline-light me-2" id="sent">Sent</button>
                <button class="btn btn-sm btn-outline-light" id="archive">Archived</button>
            </div>

            <a class="btn btn-sm btn-outline-light ms-auto me-0" href="{% url 'logout' %}">Log Out</a>
        </nav>

        <div id="emails-view" class="pt-5 mt-5">
            <div id="mailboxTitle" class="mb-2"></div>

            <div id="mailboxContent" class="scrolledTop px-2">
                <div id="emptyBoxContent" class="d-none fs-1 fw-bold text-secondary m-auto p-5">
                    No e-mails here...
                </div>

                <div id="listBoxContent" class="container"></div>
            </div>
        </div>

        <div id="compose-view" class="pt-5 mt-5">
            <div class="card border-2 shadow-lg">
                <div class="card-header">
                    <h3>New Email</h3>
                </div>

                <div class="card-body my-3">
                    <form id="compose-form" class="row g-0" onsubmit="send_mail(event)">
                        <div class="form-floating col-auto my-2 me-2">
                            <input 
                                name="origin" 
                                id="compose-origin" 
                                class="form-control" 
                                value="{{ request.user.email }}"
                                disabled 
                            >
                            <label for="compose-origin">From:</label>
                        </div>

                        <div class="form-floating col my-2">
                            <input 
                                name="recipients" 
                                id="compose-recipients" 
                                class="form-control" 
                                title="Multiple e-mails must be coma separeted" 
                                placeholder="exemple@mail.com"
                                required
                            >
                            <label for="compose-recipients">To:</label>
                        </div>

                        <div class="form-floating col-12">
                            <input name="subject" class="form-control" id="compose-subject" placeholder="Subject">
                            <label for="compose-subject">Subject:</label>
                        </div>

                        <div class="form-floating col-12 my-2">
                            <textarea 
                                name="body" 
                                class="form-control" 
                                id="compose-body" 
                                placeholder="Write your message here..."
                                style="min-height: 210px !important"
                            ></textarea>
                            <label for="compose-body">Message body</label>
                        </div>
                    </form>
                </div>

                <div class="card-footer d-flex">
                    <input type="submit" form="compose-form" class="btn btn-primary ms-auto me-0" value="Send">
                </div>
            </div>
        </div>
    </div>

    <div id="ajaxEmailModal" class="modal" tabindex="-1">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title mail-subject">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
        
                <div class="modal-body">
                    <p>From: <span class="mail-sender"></span>, to: <span class="mail-recipients"></span>.</p>
                    <span class="mail-timestamp"></span>
                    <hr>

                    <p class="mail-body"></p>
                </div>
        
                <div class="modal-footer d-flex justify-content-end">
                    <button 
                        type="button" 
                        class="mail-reply btn btn-primary me-3"
                        data-mail-id=""
                        onclick="mailReplyRequestHandler(event, this.dataset.mailId)"
                    >
                        Reply
                    </button>

                    <button 
                        type="button" 
                        class="mail-archived btn btn-outline-primary"
                        data-mail-archived=""
                        data-mail-id=""
                        onclick="mailArchiveRequestHandler(event, this.dataset.mailId, this.dataset.mailArchived)"
                    >
                    </button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script src="{% vite_asset_url 'js/inbox.js' %}"></script>
{% endblock %}