{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% comment %} {% vite_hmr_client %} {% endcomment %}
        <script type="module" src="http://localhost:3000/@vite/client"></script>

        <title>{% block title %}Mail{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link
            rel="shortcut icon" 
            type="image/png" 
            href="{% vite_asset_url 'img/favicons/favicon-mail-color-120.png' %}"
        />
        
        {% vite_asset 'js/main.js' async="async" %}
    </head>
    
    <body>
        <div id="messagesConteiner" class="position-absolute top-0 left-0 w-100">
            {% comment %} here feedback messages are displayed {% endcomment %}
            <div id="toastWrapper" class="d-flex justify-content-end">
                <div 
                    class="toast align-items-center text-bg-primary border-0 m-5" 
                    role="alert" 
                    aria-live="assertive" 
                    aria-atomic="true"
                >
                    <div class="d-flex">
                        <div id="messageContent" class="toast-body fw-semibold mx-auto"></div>

                        <button 
                            type="button" 
                            class="btn-close me-2 m-auto" 
                            data-bs-dismiss="toast" 
                            aria-label="Close"
                        ></button>
                    </div>
                </div>
            </div>

            <template id="emailListItemTemplate">
                <div 
                    class="row emaiListItem border-bottom border-1 border-secondary my-2 cursor-pointer" 
                    onclick="openMail(event, this.dataset.mailId)" 
                    data-mail-id="" 
                    data-mail-status=""
                >
                    <div class="col-auto sender">From: <span data-mail-sender></span></div>
                    <div class="col subject">Subject: <span data-mail-subject></span></div>
                    <div class="col-auto timestamp">Timestamp: <span data-mail-timestamp></span></div>
                </div>
            </template>
        </div>

        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        {% block script %}{% endblock script %}
    </body>
</html>