{% load static %}
{% load django_vite %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% comment %} {% vite_hmr_client %} {% endcomment %}
        <script type="module" src="http://localhost:3000/@vite/client"></script>

        <title>{% block title %}Mail{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link
            rel="shortcut icon" 
            type="image/png" 
            href="{% vite_asset_url 'img/favicons/favicon-mail-color-120.png' %}"
        />
        
        {% vite_asset 'js/main.js' async="async" %}
    </head>
    
    <body>
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>

        {% block script %}{% endblock script %}
    </body>
</html>